@font-face {
    font-family: Comfortaa_Bold;
    src: url("../font/Comfortaa_Bold.ttf");
}
@font-face {
    font-family: Comfortaa_Regular;
    src: url("../font/Comfortaa_Regular.ttf");
}
.navbar-expand-lg {
    width: 95%;
    margin: 0 auto;
}

.navbar-light .navbar-text i {
    margin-right: 20px;
}

.service {
    background-color: #0042c5;
}

.service-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service {
    display: none;
}

.service.active {
    display: block;
}

.service_listing a {
    display: flex;
}

.new_service a {
    display: flex;
}

.new_service img {
    object-fit: cover;
    width: 30px;
    height: 30px;
    margin-right: 19px;
}

.service_listing img {
    object-fit: contain;
    width: 100%;
    height: 25px;
    margin-right: 19px;
}

.car {
    margin-right: 10px;
    width: 30px;
    height: 12px;
}

.service p {
    text-decoration: none;
    font-family: Comfortaa_Bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 5px;
}

.clipboard {
    width: 18px;
    height: 25px;
    margin-right: 10px;
}

.automatic {
    width: 30px;
    height: 22px;
    margin-right: 10px;
}

.navbar-expand-lg img {
    width: 138px;
    height: 50px;
}

.flex-column {
    width: 134px;
    height: 810px;
    background-color: #f0f0f0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #0042c5;
    background-color: #b7eaff;
}

.nav-pills .nav-link {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    padding-right: 2px;
    padding-left: 2px;
}

.nav-pills .nav-link p {
    font-family: Comfortaa_Bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0042c5;
    padding-top: 10px;
}

.car_wash select {
    outline: none;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: solid 1.2px #e8e8e8;
    background-color: #0042c5;
    font-family: Comfortaa_Bold;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-left: 44px;
}

.content {
    display: flex;
}

.tab-content {
    width: 92%;
    margin: 0 auto;
}

.tab-content > .active h2 {
    font-family: Comfortaa_Bold;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0042c5;
}

.service-flex{
    height: 60px;
}

#v-pills-profile .table td, .table th {
    border: 0;
}

.table tbody tr {
    border-bottom: 1px dotted #d0d0d0;
    border-top: 1px dotted #d0d0d0;
}

.table thead tr {
    border-top: 1px solid #d0d0d0;
}

.table select {
    outline: none;
    width: 164px;
    height: 40px;
    border-radius: 20px;
    border: solid 1.2px #e8e8e8;
    background-color: #ffffff;
    font-family: Comfortaa_Bold;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.table i {
    color: #818181;
    margin-right: 30px;
}

.car_wash {
    width: 27%;
    margin-right: 55px;
}

.table select {
    padding-left: 20px;
}

.table td,
.table th {
    font-family: Comfortaa_Bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #303030;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    width: 100%;
}

.nav-pills .nav-link img {
    width: 40%;
    height: auto;
    object-fit: contain;
}

.icons_text {
    display: flex;
    vertical-align: middle;
    justify-content: flex-end;
}

.table td,
.table th {
    padding-right: 0;
    padding-left: 10px;
    vertical-align: middle;
    width: 20%;
    margin: 0 auto;
    height: 80px;
}

.ellipses span {
    width: 10px;
    height: 10px;
    box-shadow: 0px 8px 13px 0 rgba(0, 0, 0, 0.14);
    border: solid 1px #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.online_circle {
    background-color: #00a31d;
}

.away_circle {
    background-color: #ffcc00;
}

.ofline_circle {
    background-color: #ff0000;
}

/*#v-pills-profile .table td, .table th {
    width: 20%;
    text-align: center;
}*/


.icons_text {
    align-items: center;
    border: 0;
    width: 100% !important;
    cursor: pointer;
}

.tab-content {
    padding-left: 20px
}

.works .online_circle1 {
    background-color: #00a31d;
    width: 20px;
    height: 20px;
    box-shadow: 0px 8px 13px 0 rgba(0, 0, 0, 0.14);
    border: solid 1px #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.works .ofline_circle1 {
    background-color: #ff0000;
    width: 20px;
    height: 20px;
    box-shadow: 0px 8px 13px 0 rgba(0, 0, 0, 0.14);
    border: solid 1px #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.works .away_circle1 {
    background-color: #ffcc00;
    width: 20px;
    height: 20px;
    box-shadow: 0px 8px 13px 0 rgba(0, 0, 0, 0.14);
    border: solid 1px #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.works {
    display: flex;
    margin-right: 30px;
}

.working {
    display: flex;
}

.works p {
    padding-left: 10px;
    font-family: Comfortaa_Bold;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #7e7e7e;
}

.navbar-light .navbar-text {
    margin-top: 19px;
}
.table span {
    /*border: solid 1px #888888;*/
    border-radius: 50%;
    width: 43px;
    height: 43px;
    text-align: center;
    padding-top: 14px;
    margin-right: 12px;
}
.dropdata1 {
    border: none!important;
}
.dropdata {
    border: none!important;
}
.service_listing {
    margin-right: 30px;
}
.new_service span {
    margin-right: 20px;
}

table td, .table th {
    width: 7%!important;
}
.table-responsive {
    overflow-x: scroll;
}
.support {
    height: 52%!important;
    width: 23% !important;
}
.car span {
    font-size: 33px;
    color: white;
}
.new_service span {
    font-size: 33px;
    color: white;
}
.user_statistics {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 35px;
}
.search_input input {
    width: 319px;
    height: 50px;
    border-radius: 24px;
    border: solid 1px #949494;
    outline: none;
    font-family: Comfortaa_Regular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #717171;
    padding-left: 25px;
}
.add_user {
    cursor: pointer;
    width: 153px;
    height: 50px;
    border-radius: 24px;
    box-shadow: 0px 7px 24px 0 rgba(0, 51, 136, 0.26);
    background-color: #0042c5;
    font-family: Comfortaa_Bold;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.search_input button:focus {
    outline: none;
}
.data {
    display: flex;
}
.data span {
    padding-top: 1px;
}
.users {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.input_area {
    position: relative;
    margin-right: 32px;
}
.search_input span {
    right: 0;
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    border-radius: 24px;
    background-color: #0042c5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.table .data {
    text-align: -webkit-right;
    padding-right: 30px;
    font-family: Comfortaa_Bold;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0042c5;
}
.data .calendar {
    width: 28px;
    height: 30px;
    color: #717171;
    border: none;
    margin-right: 2px;
}
.employee_modal {
    display: flex;
    cursor: pointer;
}
tr .time {
    color: #0042c5;
}
tr .number {
    color: #0042c5;
}
.tab-content>.active {
    margin-top: 75px;
}
.dropbtn {

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    right: -159px;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.dropdown:hover .dropdown-content {display: block;}

* {
    font-family: Arial, Helvetica, sans-serif;
}

#calendar-container {
    overflow-x: scroll;
    min-height: 300px;
    max-width: 800px;
    display: block;
    margin: 2vh auto;
    border-radius: 10px;
    padding: 5px 10px;
}

#calendar-title {
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

#calendar-table {
    width: auto;
    margin:auto;
}

#calendar-table td, #calendar-table th {
    height: 40px;
    padding: 15px 20px;
    border: none;
    text-align: center;
    border-radius: 10px;
}
#calendar-container1 {
    overflow-x: scroll;
    min-height: 300px;
    max-width: 800px;
    display: block;
    margin: 2vh auto;
    border-radius: 10px;
    padding: 5px 10px;
}

#calendar-title1 {
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

#calendar-table1 {
    width: auto;
    margin:auto;
}

#calendar-table1 td, #calendar-table1 th {
    height: 40px;
    padding: 15px 20px;
    border: none;
    text-align: center;
    border-radius: 10px;
}

.today-cell {
    background-color: #888;
}

#date-text {
    text-align: center;
}
#date-text1 {
    text-align: center;
}

.btn {
    display: inline-block;
    width: 0px;
    height: 0px;

}

.btn.left {
    border-right: 10px solid white;
}

.btn.right {
    border-left: 10px solid white;
}

.btn.left:hover {
    border-right: 10px solid #ccc;
    cursor: pointer;
}

.btn.right:hover {
    border-left: 10px solid #ccc;
    cursor: pointer;
}

#calendar-table td:hover {
    background-color: #ddd;
    cursor: pointer;
    color:black;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
     background-color: #0042c5;
    border: none;
    display: flex;
    text-decoration: underline;
}
.nav-tabs {
    border: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    display: flex;
}
.table {
    width: 95%;
    margin: 0 auto;
}
.nav-tabs .nav-link {
    border: none;
}
.add_user:focus {
    outline: none;
}

._hDateRangeGrouping{
    width: 32%;
    height: 30px;
    font-family: Comfortaa;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #303030;
    background-color: unset;
    border: 0;
    margin: 0;
    padding: 0;
}
._hDateRangeGrouping.active{
    border-radius: 5px;
    background-color: #b7eaff;
}
.squar .active {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #b7eaff;
}
.squar {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #acacac;
}
.statistic {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}
.statistic p {
    margin-right: 90px;
    margin-top: 8px;
    margin-left: 7px;
}
.box {
    display: flex;
}

span.name{
    border: none;
}
@media (max-width: 1800px) {
    .tab-content {
        width: 100%;
    }
    .table {
        width: 100%;
    }
}
@media (max-width: 1500px) {
    .table span {
        width: 33px;
        height: 33px;
        padding-top: 8px;
    }
    .data span {
        padding-top: 1px;
    }
    .table td, .table th {
        font-size: 12px;
    }
    }
@media (max-width: 1300px) {
    .nav-pills .nav-link p {
        font-size: 10px;
    }
    .car_wash select {
        font-size: 13px;
        padding-left: 14px;
    }
}

@media (max-width: 1000px) {
    .car_wash select {
        padding-left: 15px;
    }
    .table .data {
        padding-right: 6px;
    }
    .tab-content > .active {
        margin-top: 29px;
    }

    .tab-content {
        width: 100%;
    }

    .table i {
        margin-right: 5px;
    }

    .nav-pills .nav-link {
        text-align: center;
    }

    .nav-pills .nav-link p {
        font-size: 11px;
    }
    .car_wash {
        margin-top: 13px;
    }
}
@media (max-width: 860px) {
    .user_statistics {
        flex-direction: column;
    }
}
@media (max-width: 800px) {
    .car_wash {
        width: 90%;
    }
    .service-flex {
        flex-wrap: wrap;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .service {
        padding-left: 34px;
        padding-bottom: 10px;
        flex-direction: column;
        height: auto;
        align-items: end;
        padding-top: 10px;
    }
    .table span {
        width: 24px;
        height: 24px;
    }
    .table td, .table th {
        font-size: 10px;
    }

    .working {
        flex-direction: column;
    }
    .tab-content {
        padding-left: 10px;
    }
    .input_area {
        width: 90%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .search_input input {
        width: 100%;
    }
    .search_input {
        flex-direction: column;
    }
    .search_input button {
        height: 44px;
    }

    .search_input button {
        height: 44px;
    }



    .nav-pills .nav-link {
        padding-bottom: 27px;
        padding-top: 10px;
    }
}
@media (max-width: 456px) {
    .table_text {
        width: 100%;
        display: flex;
        align-items: center;
    }


    .icon_text {
        display: flex;
        width: 100%;
    }

    .flex-column {
        width: 53px;
    }

    .nav-pills .nav-link p {
        font-size: 8px;
    }

    .tab-content > .active h2 {
        font-size: 20px;
    }
}

@media (max-width: 1000px){
    .tab-content {
        width: calc(100% - 53px);
    }
}



/* New Employee*/

@font-face {
    font-family: Comfortaa_Bold;
    src: url("../font/Comfortaa_Bold.ttf");
}

.close {
    width: 100%;
    height: 60px;
    background-color: #0042c5;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-family: Comfortaa_Bold;
    margin-bottom: 70px;
    border: none;
}
button.close {
    background-color: #0042c5;
    opacity: 1;
}
.modal-header .close {
    width: 90%;
    margin: 0 auto;
    color: #ffffff;
}
.modal-header h5 {
    width: 90%;
}
.modal-title button {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}
.modal-header {
    border: none;
}
.modal-body .new_employee input {
    display: block;
    width: 100%;
    height: 78px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

.new_employee {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content1 {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.save_button{
    cursor: pointer;
    width: 256px;
    border: none;
    height: 91px;
    border-radius: 45.5px;
    box-shadow: 0px 7px 24px 0 rgba(0, 51, 136, 0.26);
    background-color: #0042c5;
    font-family: Comfortaa_Bold;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
}

.save_button:focus {
    outline: none;
}


.content1 .add_photo span {
    position: absolute;
    top: 12px;
    right: 7px;
    font-size: 27px;
    color: #0042c5;

}

.photo {
    margin-bottom: 7px;
}

.add_photo p {
    font-family: Comfortaa_Bold;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #303030;
}

.new_employee form {
    width: 75%;
}

.content1 {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 85%;
}

@media (max-width: 1200px) {
    .new_employee .new {
        font-size: 23px;
    }
    .save {
        width: 204px;
        height: 73px;
    }
}
@media (max-width: 600px) {
    .new {
        font-size: 23px;
    }
}

/* End Employee*/
