@font-face {
    font-family: Comfortaa_Bold;
    src: url("../font/Comfortaa_Bold.ttf");
}

.close {
    width: 100%;
    height: 60px;
    background-color: #0042c5;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-family: Comfortaa_Bold;
    margin-bottom: 70px;
    border: none;
}
button.close {
    background-color: #0042c5;
    opacity: 1;
}
.modal-header .close {
    width: 90%;
    margin: 0 auto;
    color: #ffffff;
}
.modal-header h5 {
    width: 90%;
}
.modal-title button {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}
.modal-header {
    border: none;
}
.modal-body .new_employee input {
    display: block;
    width: 100%;
    height: 78px;
    border-bottom: 1px dotted #d0d0d0;
    border-left: none;
    border-top: none;
    border-right: none;
    outline: none;
    border-radius: inherit;
}

.new_employee {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content1 {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.save {
    cursor: pointer;
    width: 256px;
    border: none;
    height: 91px;
    border-radius: 45.5px;
    box-shadow: 0px 7px 24px 0 rgba(0, 51, 136, 0.26);
    background-color: #0042c5;
    font-family: Comfortaa_Bold;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
}

.save:focus {
    outline: none;
}

.add_photo {
    text-align: -webkit-center;
    border: solid 1px #888888;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 27px;
    position: relative;
}
.add_photo img {
    object-fit: cover;
    width: 52px;
    height: 62px;
    margin-right: 0;
}
.content1 .add_photo span {
    position: absolute;
    top: 12px;
    right: 7px;
    font-size: 27px;
    color: #0042c5;

}

.photo {
    margin-bottom: 7px;
}

.add_photo p {
    font-family: Comfortaa_Bold;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #303030;
}

.new_employee form {
    width: 75%;
}

.content1 {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 85%;
}

@media (max-width: 1200px) {
    .new_employee .new {
        font-size: 23px;
    }
    .save {
        width: 204px;
        height: 73px;
    }
}
@media (max-width: 600px) {
  .new {
      font-size: 23px;
  }
}