

@font-face {
    font-family: Comfortaa_Regular;
    src: url("../font/Comfortaa_Regular.ttf");
}

.login_register {
    margin-bottom: 64px;
}
.logo {
    width: 21%;
    height: 8%;
    margin-top: 85px;
    margin-bottom: 30px;
}
.logo img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}
.sign_up_page {
    display: flex;
    align-items: center;
}
.sign_up {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.image_auto {
    width: 70%;
}
#inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#input_login {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#login {
    text-decoration: none;
    font-family: Impact;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #03426a;
}
.login_buttton {
    cursor: pointer;
    width: 256px;
    height: 77px;
    border-radius: 45.5px;
    box-shadow: 0px 7px 24px 0 rgba(0, 51, 136, 0.26);
    background-color: #0042c5;
    font-family: Comfortaa-Regular;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}
.login_buttton:focus {
    outline: none;
}
#register {
    text-decoration: none;
    font-family: Impact;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #03426a;
}
input {
    outline: none;
    font-family: Comfortaa-Regular;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6c6c6c;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: solid 1px #595959;
    padding-left: 45px;
    margin-bottom: 10px;
}
.image {
    width: 100%;
    height: 1080px;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: unset;
}


@media (max-width: 1300px) {
    #inputs {
width: 90%;
    }
    #input_login {
        width: 90%;
    }
}
@media (max-width: 900px) {
    .sign_up_page {
        display: flex;
        flex-direction: column;
    }
    .logo {
        margin-bottom: 29px;
    }
    .login_register {
        margin-bottom: 42px;
    }
    .image {
        height: 316px;
        width: 76%;
        margin: 0 auto;
    }
    .sign_up {
        width: 80%;
        margin: 0 auto;
    }
    .image_auto {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .sign_up_page {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .sign_up {
        width: 100%;
    }
    .image {
        width: 100%;
    }
    input {
        height: 49px;
    }
}